extends layout

block content
  .row-fluid
    .span12.page-header
      h1= project.title
  .row-fluid
    .span12
      ul.breadcrumb
        li
          a(href="/") home
          span.divider /
        li
          a(href="/projects/all") projects
          span.divider /
        li
          a(href="/projects/"+project.id)= project.title
          span.divider /
        li.active calendar
  .row-fluid
    .span12
      h2= project.title
      if project.description
        p= project.description
      else
        P <em>no description</em>
      small created by #{project.creator}
    .row-fluid
      .span12
        include includes/calendar